body{
    background: #2F3238;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.gatita{
    font-size: 2rem;
    background-color: #477690;
    display: flex;
    cursor: pointer;
    height: 400px;
    width: 600px;
    position: relative;
    align-items: flex-end;
}

.gatita::before{
    content:'';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(molly.jpg);
    background-position-x: 60%;
    transition-duration: .5s;
    transition-property: background-position-x opacity;
    position: absolute;
    opacity: .5;
}

.gatita:hover::before{
    background-position-x: 40%;
    opacity: 1;
}

.text{
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    left: 7%;
    top: 75%;
    transition-property: transform;
    transition-duration: .5s;
}

.gatita:hover .text{
    transform: translateY(-60%);
    color: #34576a;
}

.paragraph {
    font-size: 16px;
    display: none;
}

.gatita:hover .paragraph{
    display: inline-block;
    color: #001724;
}



